/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
	width:800px;
	margin: 0 auto;
}

a {
	text-decoration:none;
}
header {
	margin: 0 auto;
	height:50px;

}

header ul li {
	list-style-type:none;
	float:left;
	padding:1em;
}

p.body {
	
}
.registration {
	float:right;
}